.trax-alert-overlay {
    top: 0;
    left: 0;
    background: rgba(black, 0.3);
    z-index: 9;
    border-radius: 5px;

    .uiExt-card {
        width: 200px;
        position: relative;
    }
}

.trax-editor {
    user-select: none;
    .trax-collections {
        width: 100%;
        display: flex;

        .trax-collection {
            display: inline-block;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 91px;
            padding: 0;

            &:not(:last-of-type) {
                margin-right: 5px;
            }

            margin-bottom: 5px;

            .trax-collection-header {
                padding: 3px;
                margin: 0 3px;
                border-bottom: 1px solid #000;
                box-shadow: 0 1px $white;
                &:hover {
                    span {
                        animation: marquee 5s linear infinite;
                    }
                }
            }

            .trax-collection-grid {
                margin: 5px;
                display: grid;
                grid-template-columns: repeat(3, 25px);
                grid-template-rows: repeat(3, 25px);
                grid-row-gap: 2px;
                grid-column-gap: 2px;

                .trax-collection-grid-item {
                    position: relative;

                    &:hover {
                        filter: brightness(0.9);
                        cursor: pointer;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        margin: auto;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;
                        width: 11px;
                        height: 13px;
                        background-image: url("../images/icons.png");
                    }

                    &:nth-child(1) {
                        &:before {
                            background-position: -4px -3px;
                        }
                    }

                    &:nth-child(2) {
                        &:before {
                            background-position: -23px -3px;
                        }
                    }

                    &:nth-child(3) {
                        &:before {
                            background-position: -42px -3px;
                        }
                    }

                    &:nth-child(4) {
                        &:before {
                            background-position: -61px -3px;
                        }
                    }

                    &:nth-child(5) {
                        &:before {
                            background-position: -80px -3px;
                        }
                    }

                    &:nth-child(6) {
                        &:before {
                            background-position: -98px -3px;
                        }
                    }

                    &:nth-child(7) {
                        &:before {
                            background-position: -118px -3px;
                        }
                    }

                    &:nth-child(8) {
                        &:before {
                            background-position: -137px -3px;
                        }
                    }

                    &:nth-child(9) {
                        &:before {
                            background-position: -156px -3px;
                        }
                    }
                }
            }
        }
    }

    .trax-tracks {
        overflow-x: scroll;
        position: relative;
        padding-bottom: 12px;
        padding-top: 3px;

        .duped-tracks {
            top: 4px;
        }

        .trax-column-tracker {
            position: absolute;
            width: 25px;
            height: calc(100% - 4px);
            margin: auto;
            top: 0;
            bottom: 0;
            border: 1px solid #000;
            border-radius: 4px;
            background: rgba($black, 0.2);
            box-shadow: 0 0 0 1px #a1e9f0, 0 0 0 2px $black;
            margin-left: 7px;
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            overflow: hidden;

            .trax-column-handle {
                height: 12px;
                width: 100%;
                background: #7d9cab;
                border-top: 1px solid #000;
                box-shadow: 0 -1px #a1e9f0, 0 -2px $black;
                position: relative;
                cursor: pointer;

                &:before {
                    content: "";
                    position: absolute;
                    height: 5px;
                    width: 14px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAFUlEQVQYV2N0jMn4n5mVyXD52i0GACRHBcWDagthAAAAAElFTkSuQmCC);
                    background-position: left;
                }
            }
        }

        .trax-track-row {
            height: 100%;
            display: inline-table;
            margin-bottom: 3px;
            position: relative;
            border: 1px solid transparent;
            z-index: 4;

            &.duped-row {
                .trax-track-item {
                    border: 1px solid transparent;
                    &:hover {
                        filter: brightness(0.9);
                        cursor: pointer;
                    }
                }
            }

            &:not(.duped-row) {
                z-index: 0;
                .trax-track-item {
                    display: flex;
                    justify-content: center;
                }
            }

            .trax-track-item {
                width: 25px;
                height: 25px;
                display: inline-block;
                flex-shrink: 0;

                &:not(:last-child) {
                    margin-right: 1px;
                }

                &.trax-track-grouped {
                    z-index: 3;

                    &[data-grouped="2"] {
                        width: 51px;
                        margin-right: -25px;
                    }

                    &[data-grouped="3"] {
                        width: 77px;
                        margin-right: -51px;
                    }

                    &[data-grouped="4"] {
                        width: 103px;
                        margin-right: -77px;
                    }

                    &[data-grouped="5"] {
                        width: 129px;
                        margin-right: -103px;
                    }

                    &[data-grouped="6"] {
                        width: 155px;
                        margin-right: -129px;
                    }

                    &[data-grouped="7"] {
                        width: 181px;
                        margin-right: -155px;
                    }

                    &[data-grouped="7"] {
                        width: 207px;
                        margin-right: -181px;
                    }

                    &[data-grouped="8"] {
                        width: 207px;
                        margin-right: -181px;
                    }

                    &[data-grouped="9"] {
                        width: 233px;
                        margin-right: -207px;
                    }
                }

                .trax-icon {
                    display: inline-block;
                    width: 11px;
                    height: 13px;
                    background-image: url("../images/icons.png");
                    align-self: center;

                    &:not(:last-child) {
                        margin-right: 5px;
                    }

                    &.trax-icon-1 {
                        background-position: -4px -3px;
                    }

                    &.trax-icon-2 {
                        background-position: -23px -3px;
                    }

                    &.trax-icon-3 {
                        background-position: -42px -3px;
                    }

                    &.trax-icon-4 {
                        background-position: -61px -3px;
                    }

                    &.trax-icon-5 {
                        background-position: -80px -3px;
                    }

                    &.trax-icon-6 {
                        background-position: -98px -3px;
                    }

                    &.trax-icon-7 {
                        background-position: -118px -3px;
                    }

                    &.trax-icon-8 {
                        background-position: -137px -3px;
                    }

                    &.trax-icon-9 {
                        background-position: -156px -3px;
                    }
                }
            }
        }
    }
    input[type="range"] {
        -webkit-appearance: none;
        height: 10px;
        background: transparent;
        outline: none;
        z-index: 2;
        position: absolute;
        bottom: 2px;
        cursor: e-resize;
    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 134px;
        width: 26px;
        margin-top: -122px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
        pointer-events: none;
        background-image: url("../images/handle.png");
        background-position: bottom;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
