#uiext-app {
    z-index: 9999999;
}

.trax-window-list {
    width: 453px;
    height: 340px;
}

.trax-window-editor {
    width: 624px;
}

.games-window-ttt {
    width: 300px;
    height: 240px;
}
